/* layer: icons */
.i-bi\:house-fill{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 16 16' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='currentColor'%3E%3Cpath d='M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z'/%3E%3Cpath d='m8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z'/%3E%3C/g%3E%3C/svg%3E");-webkit-mask:var(--un-icon) no-repeat;mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;mask-size:100% 100%;background-color:currentColor;color:inherit;width:1em;height:1em;}
.i-fa-solid\:calendar{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 448 512' width='0.88em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M12 192h424c6.6 0 12 5.4 12 12v260c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V204c0-6.6 5.4-12 12-12m436-44v-36c0-26.5-21.5-48-48-48h-48V12c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v52H160V12c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v52H48C21.5 64 0 85.5 0 112v36c0 6.6 5.4 12 12 12h424c6.6 0 12-5.4 12-12'/%3E%3C/svg%3E");-webkit-mask:var(--un-icon) no-repeat;mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;mask-size:100% 100%;background-color:currentColor;color:inherit;width:0.88em;height:1em;}
.i-fa\:sign-out{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 1568 1280' width='1.23em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M640 1184q0 4 1 20t.5 26.5t-3 23.5t-10 19.5t-20.5 6.5H288q-119 0-203.5-84.5T0 992V288Q0 169 84.5 84.5T288 0h320q13 0 22.5 9.5T640 32q0 4 1 20t.5 26.5t-3 23.5t-10 19.5T608 128H288q-66 0-113 47t-47 113v704q0 66 47 113t113 47h312l11.5 1l11.5 3l8 5.5l7 9zm928-544q0 26-19 45l-544 544q-19 19-45 19t-45-19t-19-45V896H448q-26 0-45-19t-19-45V448q0-26 19-45t45-19h448V96q0-26 19-45t45-19t45 19l544 544q19 19 19 45'/%3E%3C/svg%3E");-webkit-mask:var(--un-icon) no-repeat;mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;mask-size:100% 100%;background-color:currentColor;color:inherit;width:1.23em;height:1em;}
.i-fa\:user{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 1280 1536' width='0.84em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M1280 1271q0 109-62.5 187t-150.5 78H213q-88 0-150.5-78T0 1271q0-85 8.5-160.5t31.5-152t58.5-131t94-89T327 704q131 128 313 128t313-128q76 0 134.5 34.5t94 89t58.5 131t31.5 152t8.5 160.5m-256-887q0 159-112.5 271.5T640 768T368.5 655.5T256 384t112.5-271.5T640 0t271.5 112.5T1024 384'/%3E%3C/svg%3E");-webkit-mask:var(--un-icon) no-repeat;mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;mask-size:100% 100%;background-color:currentColor;color:inherit;width:0.84em;height:1em;}
.i-fluent\:live-24-filled{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M6.343 4.938a1 1 0 0 1 0 1.415a8.003 8.003 0 0 0 0 11.317a1 1 0 1 1-1.414 1.414c-3.907-3.906-3.907-10.24 0-14.146a1 1 0 0 1 1.414 0m12.732 0c3.906 3.907 3.906 10.24 0 14.146a1 1 0 0 1-1.415-1.414a8.003 8.003 0 0 0 0-11.317a1 1 0 0 1 1.415-1.415M9.31 7.812a1 1 0 0 1 0 1.414a3.92 3.92 0 0 0 0 5.544a1 1 0 1 1-1.415 1.414a5.92 5.92 0 0 1 0-8.372a1 1 0 0 1 1.415 0m6.958 0a5.92 5.92 0 0 1 0 8.372a1 1 0 0 1-1.414-1.414a3.92 3.92 0 0 0 0-5.544a1 1 0 0 1 1.414-1.414m-4.186 2.77a1.5 1.5 0 1 1 0 3a1.5 1.5 0 0 1 0-3'/%3E%3C/svg%3E");-webkit-mask:var(--un-icon) no-repeat;mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;mask-size:100% 100%;background-color:currentColor;color:inherit;width:1em;height:1em;}
.i-line-md\:loading-twotone-loop{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath stroke-dasharray='16' stroke-dashoffset='16' d='M12 3c4.97 0 9 4.03 9 9'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.3s' values='16;0'/%3E%3CanimateTransform attributeName='transform' dur='1.5s' repeatCount='indefinite' type='rotate' values='0 12 12;360 12 12'/%3E%3C/path%3E%3Cpath stroke-dasharray='64' stroke-dashoffset='64' stroke-opacity='.3' d='M12 3c4.97 0 9 4.03 9 9c0 4.97 -4.03 9 -9 9c-4.97 0 -9 -4.03 -9 -9c0 -4.97 4.03 -9 9 -9Z'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='1.2s' values='64;0'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");-webkit-mask:var(--un-icon) no-repeat;mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;mask-size:100% 100%;background-color:currentColor;color:inherit;width:1em;height:1em;}
.i-material-symbols\:error-outline{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M12 17q.425 0 .713-.288T13 16t-.288-.712T12 15t-.712.288T11 16t.288.713T12 17m-1-4h2V7h-2zm1 9q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8'/%3E%3C/svg%3E");-webkit-mask:var(--un-icon) no-repeat;mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;mask-size:100% 100%;background-color:currentColor;color:inherit;width:1em;height:1em;}
.i-material-symbols\:play-arrow-rounded{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M8 17.175V6.825q0-.425.3-.713t.7-.287q.125 0 .263.037t.262.113l8.15 5.175q.225.15.338.375t.112.475t-.112.475t-.338.375l-8.15 5.175q-.125.075-.262.113T9 18.175q-.4 0-.7-.288t-.3-.712'/%3E%3C/svg%3E");-webkit-mask:var(--un-icon) no-repeat;mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;mask-size:100% 100%;background-color:currentColor;color:inherit;width:1em;height:1em;}
.i-material-symbols\:warning-outline-rounded{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M2.725 21q-.275 0-.5-.137t-.35-.363t-.137-.488t.137-.512l9.25-16q.15-.25.388-.375T12 3t.488.125t.387.375l9.25 16q.15.25.138.513t-.138.487t-.35.363t-.5.137zm1.725-2h15.1L12 6zM12 18q.425 0 .713-.288T13 17t-.288-.712T12 16t-.712.288T11 17t.288.713T12 18m0-3q.425 0 .713-.288T13 14v-3q0-.425-.288-.712T12 10t-.712.288T11 11v3q0 .425.288.713T12 15m0-2.5'/%3E%3C/svg%3E");-webkit-mask:var(--un-icon) no-repeat;mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;mask-size:100% 100%;background-color:currentColor;color:inherit;width:1em;height:1em;}
/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}

      @view-transition {
        navigation: auto;
      }
      html,
      :host {
        font-family: 'Noto Sans JP', sans-serif !important;
      }
      video {
        max-height: 100%;
        max-width: 100%;
      }
    

      @keyframes fade-in {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    
/* layer: default */
.\[grid-area\:1\/-1\]{grid-area:1/-1;}
.\[grid-area\:a1\/a1\/a2\/a2\]{grid-area:a1/a1/a2/a2;}
.\[grid-area\:a1\/a1\/b1\/b1\]{grid-area:a1/a1/b1/b1;}
.\[grid-area\:b2\]{grid-area:b2;}
.\[grid-area\:b2\/b2\/b3\/b3\]{grid-area:b2/b2/b3/b3;}
.\[grid-area\:channel\]{grid-area:channel;}
.\[grid-area\:content\]{grid-area:content;}
.\[grid-area\:hours\]{grid-area:hours;}
.\[grid-template-areas\:\'a1_b1\'\'a2_b2\'\'a3_b3\'\]{grid-template-areas:'a1 b1''a2 b2''a3 b3';}
.\[grid-template-areas\:\'channel_channel\'\'hours_content\'\]{grid-template-areas:'channel channel''hours content';}
.pointer-events-none{pointer-events:none;}
.absolute{position:absolute;}
.fixed{position:fixed;}
.relative{position:relative;}
.sticky{position:sticky;}
.before\:absolute::before{position:absolute;}
.inset-0{inset:0;}
.inset-x-0{left:0;right:0;}
.inset-y-0{top:0;bottom:0;}
.before\:inset-x-0::before{left:0;right:0;}
.bottom-\[4px\]{bottom:4px;}
.bottom-\[8px\]{bottom:8px;}
.bottom-0{bottom:0;}
.left-\[4px\]{left:4px;}
.left-0{left:0;}
.right-\[-4px\]{right:-4px;}
.right-\[4px\]{right:4px;}
.top-\[0px\]{top:0px;}
.top-\[80px\]{top:80px;}
.top-0{top:0;}
.before\:bottom-0::before{bottom:0;}
.line-clamp-5{overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:5;line-clamp:5;}
.z-\[-10\]{z-index:-10;}
.z-10{z-index:10;}
.z-20{z-index:20;}
.z-50{z-index:50;}
.order-1{order:1;}
.grid{display:grid;}
.auto-cols-\[minmax\(276px\,1fr\)\]{grid-auto-columns:minmax(276px,1fr);}
.grid-flow-col{grid-auto-flow:column;}
.grid-cols-\[188px_minmax\(0\,1fr\)\]{grid-template-columns:188px minmax(0,1fr);}
.grid-rows-\[80px_calc\(100vh-80px\)_minmax\(0\,1fr\)\]{grid-template-rows:80px calc(100vh - 80px) minmax(0,1fr);}
.m-\[14px\]{margin:14px;}
.m-\[4px\]{margin:4px;}
.m-auto{margin:auto;}
.mx-\[-24px\]{margin-left:-24px;margin-right:-24px;}
.mb-\[12px\]{margin-bottom:12px;}
.mb-\[16px\]{margin-bottom:16px;}
.mb-\[24px\]{margin-bottom:24px;}
.mb-\[32px\]{margin-bottom:32px;}
.mb-\[4px\]{margin-bottom:4px;}
.mb-\[8px\]{margin-bottom:8px;}
.ml-\[16px\]{margin-left:16px;}
.ml-\[4px\]{margin-left:4px;}
.mr-\[8px\]{margin-right:8px;}
.mt-\[16px\]{margin-top:16px;}
.mt-\[24px\]{margin-top:24px;}
.mt-\[8px\]{margin-top:8px;}
.block{display:block;}
.before\:block::before{display:block;}
.size-\[20px\]{width:20px;height:20px;}
.size-\[48px\]{width:48px;height:48px;}
.size-full{width:100%;height:100%;}
.h-\[100vh\]{height:100vh;}
.h-\[120px\]{height:120px;}
.h-\[20px\]{height:20px;}
.h-\[260px\]{height:260px;}
.h-\[2px\]{height:2px;}
.h-\[56px\]{height:56px;}
.h-\[72px\]{height:72px;}
.h-\[80px\]{height:80px;}
.h-\[90px\]{height:90px;}
.h-75vh{height:75vh;}
.h-auto{height:auto;}
.h-full{height:100%;}
.max-w-\[1280px\]{max-width:1280px;}
.min-h-\[100vh\]{min-height:100vh;}
.w-\[160px\]{width:160px;}
.w-\[188px\]{width:188px;}
.w-\[192px\]{width:192px;}
.w-\[24px\]{width:24px;}
.w-\[400px\]{width:400px;}
.w-\[480px\]{width:480px;}
.w-\[640px\]{width:640px;}
.w-\[8px\]{width:8px;}
.w-auto{width:auto;}
.w-fit{width:fit-content;}
.w-full{width:100%;}
.group:hover .group-hover\:h-\[4px\]{height:4px;}
.before\:h-\[64px\]::before{height:64px;}
.flex{display:flex;}
.inline-flex{display:inline-flex;}
.shrink-0{flex-shrink:0;}
.shrink-1{flex-shrink:1;}
.grow-0{flex-grow:0;}
.grow-1{flex-grow:1;}
.flex-row{flex-direction:row;}
.flex-col{flex-direction:column;}
.translate-x-\[-50\%\]{--un-translate-x:-50%;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.animate-\[fade-in_0\.5s_ease-in_0\.5s_both\]{animation:fade-in 0.5s ease-in 0.5s both;}
.cursor-pointer{cursor:pointer;}
.cursor-col-resize{cursor:col-resize;}
.touch-none{touch-action:none;}
.select-none{-webkit-user-select:none;user-select:none;}
.place-content-center{place-content:center;}
.place-self-center{place-self:center;}
.place-self-stretch{place-self:stretch;}
.items-start{align-items:flex-start;}
.items-center{align-items:center;}
.justify-start{justify-content:flex-start;}
.justify-center{justify-content:center;}
.justify-between{justify-content:space-between;}
.gap-\[24px\]{gap:24px;}
.gap-x-\[12px\]{column-gap:12px;}
.gap-x-\[16px\]{column-gap:16px;}
.gap-y-\[16px\]{row-gap:16px;}
.gap-y-\[20px\]{row-gap:20px;}
.overflow-auto{overflow:auto;}
.overflow-hidden{overflow:hidden;}
.overflow-x-auto{overflow-x:auto;}
.overflow-y-auto{overflow-y:auto;}
.overflow-y-hidden{overflow-y:hidden;}
.border-\[1px\]{border-width:1px;}
.border-\[2px\]{border-width:2px;}
.border-x-\[1px\]{border-left-width:1px;border-right-width:1px;}
.border-y-\[1px\]{border-top-width:1px;border-bottom-width:1px;}
.border-\[\#000000\]{--un-border-opacity:1;border-color:rgb(0 0 0 / var(--un-border-opacity));}
.border-\[\#DDAA00\]{--un-border-opacity:1;border-color:rgb(221 170 0 / var(--un-border-opacity));}
.border-\[\#F0163A\]{--un-border-opacity:1;border-color:rgb(240 22 58 / var(--un-border-opacity));}
.border-\[\#FFFFFF1F\]{--un-border-opacity:0.12;border-color:rgb(255 255 255 / var(--un-border-opacity));}
.border-x-\[\#212121\]{--un-border-opacity:1;--un-border-left-opacity:var(--un-border-opacity);border-left-color:rgb(33 33 33 / var(--un-border-left-opacity));--un-border-right-opacity:var(--un-border-opacity);border-right-color:rgb(33 33 33 / var(--un-border-right-opacity));}
.border-y-\[\#212121\]{--un-border-opacity:1;--un-border-top-opacity:var(--un-border-opacity);border-top-color:rgb(33 33 33 / var(--un-border-top-opacity));--un-border-bottom-opacity:var(--un-border-opacity);border-bottom-color:rgb(33 33 33 / var(--un-border-bottom-opacity));}
.rounded-\[10px\]{border-radius:10px;}
.rounded-\[4px\]{border-radius:4px;}
.rounded-\[8px\]{border-radius:8px;}
.border-solid{border-style:solid;}
.border-x-solid{border-left-style:solid;border-right-style:solid;}
.border-y-solid{border-top-style:solid;border-bottom-style:solid;}
.bg-\[\#000000\]{--un-bg-opacity:1;background-color:rgb(0 0 0 / var(--un-bg-opacity)) /* #000000 */;}
.bg-\[\#00000077\]{--un-bg-opacity:0.47;background-color:rgb(0 0 0 / var(--un-bg-opacity)) /* #00000077 */;}
.bg-\[\#000000CC\]{--un-bg-opacity:0.8;background-color:rgb(0 0 0 / var(--un-bg-opacity)) /* #000000CC */;}
.bg-\[\#171717\]{--un-bg-opacity:1;background-color:rgb(23 23 23 / var(--un-bg-opacity)) /* #171717 */;}
.bg-\[\#1c43d1\]{--un-bg-opacity:1;background-color:rgb(28 67 209 / var(--un-bg-opacity)) /* #1c43d1 */;}
.bg-\[\#999999\]{--un-bg-opacity:1;background-color:rgb(153 153 153 / var(--un-bg-opacity)) /* #999999 */;}
.bg-\[\#ffeeee\]{--un-bg-opacity:1;background-color:rgb(255 238 238 / var(--un-bg-opacity)) /* #ffeeee */;}
.bg-\[\#fffcee\]{--un-bg-opacity:1;background-color:rgb(255 252 238 / var(--un-bg-opacity)) /* #fffcee */;}
.bg-\[\#FFFFFF\]{--un-bg-opacity:1;background-color:rgb(255 255 255 / var(--un-bg-opacity)) /* #FFFFFF */;}
.bg-\[size\:auto_100\%\]{background-size:auto 100%;}
.bg-transparent{background-color:transparent /* transparent */;}
.hover\:bg-\[\#FFFFFF1F\]:hover{--un-bg-opacity:0.12;background-color:rgb(255 255 255 / var(--un-bg-opacity)) /* #FFFFFF1F */;}
.from-\[\#171717\]{--un-gradient-from-position:0%;--un-gradient-from:rgb(23 23 23 / var(--un-from-opacity, 1)) var(--un-gradient-from-position);--un-gradient-to-position:100%;--un-gradient-to:rgb(23 23 23 / 0) var(--un-gradient-to-position);--un-gradient-stops:var(--un-gradient-from), var(--un-gradient-to);}
.from-\[\#212121\]{--un-gradient-from-position:0%;--un-gradient-from:rgb(33 33 33 / var(--un-from-opacity, 1)) var(--un-gradient-from-position);--un-gradient-to-position:100%;--un-gradient-to:rgb(33 33 33 / 0) var(--un-gradient-to-position);--un-gradient-stops:var(--un-gradient-from), var(--un-gradient-to);}
.before\:from-\[\#212121\]::before{--un-gradient-from-position:0%;--un-gradient-from:rgb(33 33 33 / var(--un-from-opacity, 1)) var(--un-gradient-from-position);--un-gradient-to-position:100%;--un-gradient-to:rgb(33 33 33 / 0) var(--un-gradient-to-position);--un-gradient-stops:var(--un-gradient-from), var(--un-gradient-to);}
.to-\[\#171717\]{--un-gradient-to-position:100%;--un-gradient-to:rgb(23 23 23 / var(--un-to-opacity, 1)) var(--un-gradient-to-position);}
.to-transparent{--un-gradient-to-position:100%;--un-gradient-to:transparent var(--un-gradient-to-position);}
.before\:to-transparent::before{--un-gradient-to-position:100%;--un-gradient-to:transparent var(--un-gradient-to-position);}
.bg-gradient-to-b{--un-gradient-shape:to bottom in oklch;--un-gradient:var(--un-gradient-shape), var(--un-gradient-stops);background-image:linear-gradient(var(--un-gradient));}
.bg-gradient-to-t{--un-gradient-shape:to top in oklch;--un-gradient:var(--un-gradient-shape), var(--un-gradient-stops);background-image:linear-gradient(var(--un-gradient));}
.before\:bg-gradient-to-t::before{--un-gradient-shape:to top in oklch;--un-gradient:var(--un-gradient-shape), var(--un-gradient-stops);background-image:linear-gradient(var(--un-gradient));}
.object-contain{object-fit:contain;}
.p-\[12px\]{padding:12px;}
.p-\[14px\]{padding:14px;}
.p-\[24px\]{padding:24px;}
.p-\[4px\]{padding:4px;}
.p-\[8px\]{padding:8px;}
.px{padding-left:1rem;padding-right:1rem;}
.px-\[12px\]{padding-left:12px;padding-right:12px;}
.px-\[16px\]{padding-left:16px;padding-right:16px;}
.px-\[24px\]{padding-left:24px;padding-right:24px;}
.px-\[32px\]{padding-left:32px;padding-right:32px;}
.px-\[8px\]{padding-left:8px;padding-right:8px;}
.py-\[32px\]{padding-top:32px;padding-bottom:32px;}
.py-\[48px\]{padding-top:48px;padding-bottom:48px;}
.py-\[8px\]{padding-top:8px;padding-bottom:8px;}
.pb-\[8px\]{padding-bottom:8px;}
.pl-\[20px\]{padding-left:20px;}
.pl-\[24px\]{padding-left:24px;}
.pr-\[56px\]{padding-right:56px;}
.pr-\[8px\]{padding-right:8px;}
.pt-\[80px\]{padding-top:80px;}
.pt-\[8px\]{padding-top:8px;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-\[10px\]{font-size:10px;}
.text-\[12px\]{font-size:12px;}
.text-\[14px\]{font-size:14px;}
.text-\[16px\]{font-size:16px;}
.text-\[18px\]{font-size:18px;}
.text-\[22px\]{font-size:22px;}
.text-\[24px\]{font-size:24px;}
.text-\[32px\]{font-size:32px;}
.text-\[\#212121\]{--un-text-opacity:1;color:rgb(33 33 33 / var(--un-text-opacity)) /* #212121 */;}
.text-\[\#999999\]{--un-text-opacity:1;color:rgb(153 153 153 / var(--un-text-opacity)) /* #999999 */;}
.text-\[\#DDAA00\]{--un-text-opacity:1;color:rgb(221 170 0 / var(--un-text-opacity)) /* #DDAA00 */;}
.text-\[\#F0163A\]{--un-text-opacity:1;color:rgb(240 22 58 / var(--un-text-opacity)) /* #F0163A */;}
.text-\[\#ffffff\]{--un-text-opacity:1;color:rgb(255 255 255 / var(--un-text-opacity)) /* #ffffff */;}
.text-\[\#FFFFFF\]{--un-text-opacity:1;color:rgb(255 255 255 / var(--un-text-opacity)) /* #FFFFFF */;}
.placeholder\:text-\[\#999999\]::placeholder{--un-text-opacity:1;color:rgb(153 153 153 / var(--un-text-opacity)) /* #999999 */;}
.font-bold{font-weight:700;}
.underline{text-decoration-line:underline;}
.opacity-0{opacity:0;}
.group:hover .group-hover\:opacity-100{opacity:1;}
.hover\:opacity-50:hover{opacity:0.5;}
.hover\:opacity-75:hover{opacity:0.75;}
.disabled\:opacity-50:disabled{opacity:0.5;}
.outline-\[1px\]{outline-width:1px;}
.outline-\[\#212121\]{--un-outline-color-opacity:1;outline-color:rgb(33 33 33 / var(--un-outline-color-opacity)) /* #212121 */;}
.outline{outline-style:solid;}
.focus\:outline-none:focus{outline:2px solid transparent;outline-offset:2px;}
.hover\:brightness-125:hover{--un-brightness:brightness(1.25);filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}
.hover\:brightness-200:hover{--un-brightness:brightness(2);filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}
.before\:content-\[\'\'\]::before{content:'';}