/* layer: default */
.\[grid-area\:a1\/a1\/a2\/a2\]{grid-area:a1/a1/a2/a2;}
.\[grid-area\:a1\/a1\/b1\/b1\]{grid-area:a1/a1/b1/b1;}
.\[grid-area\:b2\]{grid-area:b2;}
.\[grid-area\:channel\]{grid-area:channel;}
.\[grid-area\:content\]{grid-area:content;}
.\[grid-area\:hours\]{grid-area:hours;}
.\[grid-template-areas\:\'a1_b1\'\'a2_b2\'\'a3_b3\'\]{grid-template-areas:'a1 b1''a2 b2''a3 b3';}
.\[grid-template-areas\:\'channel_channel\'\'hours_content\'\]{grid-template-areas:'channel channel''hours content';}
.pointer-events-auto{pointer-events:auto;}
.pointer-events-none{pointer-events:none;}
.absolute{position:absolute;}
.fixed{position:fixed;}
.relative{position:relative;}
.sticky{position:sticky;}
.inset-0{inset:0;}
.inset-y-0{top:0;bottom:0;}
.left-0{left:0;}
.right-\[-4px\]{right:-4px;}
.top-\[0px\]{top:0px;}
.top-0{top:0;}
.line-clamp-3{overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;line-clamp:3;}
.z-10{z-index:10;}
.z-20{z-index:20;}
.z-50{z-index:50;}
.order-1{order:1;}
.grid{display:grid;}
.grid-cols-\[188px_minmax\(0\,1fr\)\]{grid-template-columns:188px minmax(0,1fr);}
.grid-rows-\[80px_calc\(100vh-80px\)_minmax\(0\,1fr\)\]{grid-template-rows:80px calc(100vh - 80px) minmax(0,1fr);}
.mb-\[16px\]{margin-bottom:16px;}
.mb-\[24px\]{margin-bottom:24px;}
.mb-\[4px\]{margin-bottom:4px;}
.mb-\[8px\]{margin-bottom:8px;}
.ml-\[16px\]{margin-left:16px;}
.mr-\[8px\]{margin-right:8px;}
.block{display:block;}
.hidden{display:none;}
.aspect-video{aspect-ratio:16/9;}
.size-full{width:100%;height:100%;}
.h-\[100vh\]{height:100vh;}
.h-\[120px\]{height:120px;}
.h-\[240px\]{height:240px;}
.h-\[360px\]{height:360px;}
.h-\[40px\]{height:40px;}
.h-\[480px\]{height:480px;}
.h-\[56px\]{height:56px;}
.h-\[600px\]{height:600px;}
.h-\[720px\]{height:720px;}
.h-\[72px\]{height:72px;}
.h-\[80px\]{height:80px;}
.h-\[840px\]{height:840px;}
.h-\[960px\]{height:960px;}
.h-auto{height:auto;}
.min-h-\[100vh\]{min-height:100vh;}
.w-\[160px\]{width:160px;}
.w-\[188px\]{width:188px;}
.w-\[24px\]{width:24px;}
.w-\[480px\]{width:480px;}
.w-\[8px\]{width:8px;}
.w-auto{width:auto;}
.w-fit{width:fit-content;}
.w-full{width:100%;}
.flex{display:flex;}
.shrink-0{flex-shrink:0;}
.shrink-1{flex-shrink:1;}
.grow-0{flex-grow:0;}
.grow-1{flex-grow:1;}
.flex-row{flex-direction:row;}
.flex-col{flex-direction:column;}
.cursor-col-resize{cursor:col-resize;}
.items-start{align-items:flex-start;}
.items-center{align-items:center;}
.justify-start{justify-content:flex-start;}
.justify-center{justify-content:center;}
.overflow-hidden{overflow:hidden;}
.overflow-x-auto{overflow-x:auto;}
.overflow-y-auto{overflow-y:auto;}
.border-\[1px\]{border-width:1px;}
.border-\[2px\]{border-width:2px;}
.border-x-\[1px\]{border-left-width:1px;border-right-width:1px;}
.border-y-\[1px\]{border-top-width:1px;border-bottom-width:1px;}
.border-\[\#000000\]{--un-border-opacity:1;border-color:rgb(0 0 0 / var(--un-border-opacity));}
.border-\[\#FFFFFF1F\]{--un-border-opacity:0.12;border-color:rgb(255 255 255 / var(--un-border-opacity));}
.border-x-\[\#212121\]{--un-border-opacity:1;--un-border-left-opacity:var(--un-border-opacity);border-left-color:rgb(33 33 33 / var(--un-border-left-opacity));--un-border-right-opacity:var(--un-border-opacity);border-right-color:rgb(33 33 33 / var(--un-border-right-opacity));}
.border-y-\[\#212121\]{--un-border-opacity:1;--un-border-top-opacity:var(--un-border-opacity);border-top-color:rgb(33 33 33 / var(--un-border-top-opacity));--un-border-bottom-opacity:var(--un-border-opacity);border-bottom-color:rgb(33 33 33 / var(--un-border-bottom-opacity));}
.rounded-\[4px\]{border-radius:4px;}
.rounded-\[8px\]{border-radius:8px;}
.border-solid{border-style:solid;}
.border-x-solid{border-left-style:solid;border-right-style:solid;}
.border-y-solid{border-top-style:solid;border-bottom-style:solid;}
.bg-\[\#000000\]{--un-bg-opacity:1;background-color:rgb(0 0 0 / var(--un-bg-opacity));}
.bg-\[\#00000077\]{--un-bg-opacity:0.47;background-color:rgb(0 0 0 / var(--un-bg-opacity));}
.bg-\[\#171717\]{--un-bg-opacity:1;background-color:rgb(23 23 23 / var(--un-bg-opacity));}
.bg-\[\#1c43d1\]{--un-bg-opacity:1;background-color:rgb(28 67 209 / var(--un-bg-opacity));}
.bg-\[\#212121\]{--un-bg-opacity:1;background-color:rgb(33 33 33 / var(--un-bg-opacity));}
.bg-\[\#FCF6E5\]{--un-bg-opacity:1;background-color:rgb(252 246 229 / var(--un-bg-opacity));}
.bg-transparent{background-color:transparent;}
.from-\[\#171717\]{--un-gradient-from-position:0%;--un-gradient-from:rgb(23 23 23 / var(--un-from-opacity, 1)) var(--un-gradient-from-position);--un-gradient-to-position:100%;--un-gradient-to:rgb(23 23 23 / 0) var(--un-gradient-to-position);--un-gradient-stops:var(--un-gradient-from), var(--un-gradient-to);}
.to-\[\#171717\]{--un-gradient-to-position:100%;--un-gradient-to:rgb(23 23 23 / var(--un-to-opacity, 1)) var(--un-gradient-to-position);}
.bg-gradient-to-b{--un-gradient-shape:to bottom in oklch;--un-gradient:var(--un-gradient-shape), var(--un-gradient-stops);background-image:linear-gradient(var(--un-gradient));}
.object-contain{object-fit:contain;}
.p-\[12px\]{padding:12px;}
.p-\[14px\]{padding:14px;}
.px-\[12px\]{padding-left:12px;padding-right:12px;}
.px-\[16px\]{padding-left:16px;padding-right:16px;}
.px-\[8px\]{padding-left:8px;padding-right:8px;}
.py-\[32px\]{padding-top:32px;padding-bottom:32px;}
.py-\[8px\]{padding-top:8px;padding-bottom:8px;}
.pb-\[8px\]{padding-bottom:8px;}
.pl-\[20px\]{padding-left:20px;}
.pl-\[24px\]{padding-left:24px;}
.pr-\[8px\]{padding-right:8px;}
.pt-\[80px\]{padding-top:80px;}
.pt-\[8px\]{padding-top:8px;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-\[14px\]{font-size:14px;}
.text-\[16px\]{font-size:16px;}
.text-\[24px\]{font-size:24px;}
.text-\[\#212121\]{--un-text-opacity:1;color:rgb(33 33 33 / var(--un-text-opacity));}
.text-\[\#767676\]{--un-text-opacity:1;color:rgb(118 118 118 / var(--un-text-opacity));}
.text-\[\#999999\]{--un-text-opacity:1;color:rgb(153 153 153 / var(--un-text-opacity));}
.text-\[\#ffffff\]{--un-text-opacity:1;color:rgb(255 255 255 / var(--un-text-opacity));}
.font-bold{font-weight:700;}
.opacity-0{opacity:0;}
.opacity-100{opacity:1;}
.opacity-50{opacity:0.5;}
.disabled\:opacity-50:disabled{opacity:0.5;}
.brightness-125{--un-brightness:brightness(1.25);filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}
.brightness-200{--un-brightness:brightness(2);filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}
